.card-text {
    margin-bottom: 0.5rem !important;
    font-size: 1.2rem !important;
}

.card:hover {
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.25) !important;
    border: 1.5px solid rgba(0, 0, 0, 0.25);
    transition: ease 0.1s;
}